docotype 
html
  head
    title kathak-dance-academy
    block scripts
    block style
  body
    nav#navbar
            ul
                li #[a(href="/") Home ]
                li #[a(href="/about") About ]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
    block content